<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - teste</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7351777d54.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>
<body id="body">
    <div id="overlay" class="overlay"></div>
    <div class="freight"><i class="fa-solid fa-box-open"></i> Frete grátis para todo o Brasil!</div>
    <header class="header">
        <div class="menu">
            <i id="menu-icon" class="fa-solid fa-bars"></i>
            <i id="close-icon" class="fa-solid fa-times-circle"></i>
            <div class="menu-list" id="menulist">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Entrar em contato</a></li>
                    <li><a href="#">Todas as coleções</a></li>
                    <hr>
                    <h2 class="need_help">Precisa de ajuda?</h2>
                    <div class="help">    
                        <span><i class="fa-solid fa-phone-volume"></i>phone</span><br>
                        <span><i class="fa-regular fa-envelope"></i>Mail</span>
                    </div>
                    <!--To-do: phone and mail address-->
                </ul>
            </div>
        </div>
        <div class="divLogo">
            <img src="../static/images/logo.jpeg" alt="">
        </div>
        <div class="cart">
            <p class="circle"><span id="count">0</span></p>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="search" id="search">
            <input type="search" name="search" id="search-input" class="search-input" placeholder="O que você procura?" maxlength="23"><i id="searchicon" class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </header>
    <div class="gradient-effect"></div>
    <div class="banner-container" id="banner-container">
        <img class="banner" src="../static/images/banner1.png" alt="">
        <img class="banner" src="../static/images/banner2.png" alt="">
    </div>
    <div class="category">
        <h2>Categorias</h2>
        <div class="category-content">
            <a href="#"><img src="../static/images/categoria-1.jpeg" alt=""></a>
            <a href="#"><img src="../static/images/categoria-2.jpeg" alt=""></a>
            <a href="#"><img src="../static/images/categoria-3.jpeg" alt=""></a>
            <img src="../static/images/categoria-4.jpeg" alt="">
        </div>
    </div>
    <div class="best-sellers">
        <h2>Melhores Promoções <br><a href="#">ver tudo</a></h2>
        <div class="best-sellerProducts">
            
        </div>
    </div>
    <script defer src="../static/js/banner.js"></script>
    <script defer src="../static/js/menu.js"></script>
</body>
</html>
